*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#acceuilTitle {
    font-size: 3em;
    font-style: italic;
}

/* acceuil title version desktop */

@media screen and (min-width :950px){
    #acceuilTitle{
        font-size: 4em;
    }
}

.acceuilSpan {
    color: #ffc107;
}

.contactInfo{
    text-align: center;
    margin-top: 50px;
}

/* section contactInfo version tablette et desktop */

@media screen and (min-width : 530px) {
    .contactInfo {
        text-align: start;
    }
}

.contactInfo h4{
    color: #ffc107;
    text-decoration: underline;
}

.contactInfo p {
    margin-top: 1.2em;
    font-weight: bold;
}

.contactImage {
    display: none;
}

/* Mise en place de l'image à partir de 450px */

@media screen and (min-width : 450px) {
    .contactImage{
        display: inline;
    }
    
}

/* evenement */

.tacanImage{
    max-width: 100%;
    margin-bottom: 50px;
}

